<!DOCTYPE html>
<html>
<head>
    <title>WebPurple</title>
    <meta name="yandex-verification" content="15b65c7c0ec4d981" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Oxygen|Rubik" rel="stylesheet">
    <% if (process.env.NODE_ENV === 'production') { %>
    <!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter39965000 = new Ya.Metrika({ id:39965000, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/39965000" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-85053004-1', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- /Google Analytics -->
    <% } %>
    <script type='application/ld+json'>
        {
          "@context": "http://www.schema.org",
          "@type": "Organization",
          "name": "WebPurple",
          "url": "http://www.webpurple.net/",
          "logo": "http://www.webpurple.net/favicon.ico",
          "image": "http://www.webpurple.net/favicon.ico",
          "description": "Ryazan front-end community"
        }
    </script>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <style>
        html {
            font-size: .625em; /* 10px; */
        }

        .ReactModal__Body--open {
            overflow: hidden;
        }

        .ReactModal__Body--open #main {
            filter: blur(5.9px);
        }
    </style>
</head>
<body style="margin: 0">
<div id="main"></div>
</body>
</html>
